<div class="add-chapter">
  <button mat-raised-button (click)="openAddCouponModal()" color="primary">
    <span class="material-icons">add</span>
  </button>
</div>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="Type">
    <mat-header-cell [ngClass]="'w-10'" *matHeaderCellDef> Type </mat-header-cell>
    <mat-cell [ngClass]="'w-10'" *matCellDef="let element"> {{ element?.type | translate }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Refrence">
    <mat-header-cell *matHeaderCellDef>Refrence </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element?.value }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="qr-code">
    <mat-header-cell *matHeaderCellDef>Qr Code </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <qrcode (click)="downloadQRCode(element.value)" [id]="element.value" [qrdata]="element?.value" [width]="100" [errorCorrectionLevel]="'M'"></qrcode>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Status">
    <mat-header-cell [ngClass]="'w-10'" *matHeaderCellDef> Status </mat-header-cell>
    <mat-cell [ngClass]="'w-10'" *matCellDef="let element">
      <span class="color-status" [matTooltip]="element.status" [ngStyle]="{ 'background-color': colorState[element.status] }"> </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Action">
    <mat-header-cell [ngClass]="'w-10'" *matHeaderCellDef> Action </mat-header-cell>
    <mat-cell [ngClass]="'w-10'" *matCellDef="let element">
      <button [cdkCopyToClipboard]="element.value" class="icon-button" matTooltip="Copy">
        <span class="material-icons"> file_copy </span>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
