.question-container {
  padding: 30px;

  mat-card-title {
    line-height: 1.2em;
    font-size: 40px;
  }

  .answers-container {
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
    color: #565655;
    margin-top: 30px;
    mat-radio-button {
      margin-bottom: 5px;
      padding: 15px;
    }
    mat-radio-button:hover {
      background-color: #e4f5ff;
    }
  }

  .label{
    padding: 12px;
    font-size: x-large;
  }
}
mat-card {
  margin: 1%;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0px;

  img {
    width: 100%;
  }
}


.full-width {
  width: 100%;
}
@media screen and (max-width: 767px) {
  mat-card {
    display: inline-block;
    padding: 0px;
  }
  mat-card-title {
    line-height: 0.9em;
    font-size: medium;
  }
}
