<mat-card *ngIf="exercice.name">
  <div class="question-container">
    <!-- <mat-card-content [innerText]="exercice?.name" style="text-align: center"> </mat-card-content> -->
    <div [innerHTML]="exercice?.name"></div>
  </div>
</mat-card>

<mat-card>
  <div>
    <!-- <img *ngIf="!imageBlock" src="assets/images/photothree.jpg" alt="" /> -->
    <!-- <img *ngIf="imageBlock" src="assets/images/{{ imageBlock.value }}" alt="" /> -->
  </div>
  <div class="question-container">
    <!-- <mat-card-title [innerText]="exercice.question" [ngStyle]="exercice['rtl'] === true && { direction: 'rtl' }">
      <br />
    </mat-card-title> -->
    <div [innerHTML]="exercice?.question" [ngStyle]="exercice['rtl'] === true && { direction: 'rtl' }"></div><br>

    <mat-card-content [ngStyle]="exercice['rtl'] === true && { direction: 'rtl' }">
      <div *ngFor="let question of questions">
        <div *ngIf="question.exerciceBlockType === ExerciceBlockTypes.INPUT_TEXT">
          <div class="label">
            {{ question.label }}
          </div>

          <!-- <mat-form-field appearance="outline" (change)="valueChanged()">
            <mat-label>Answer</mat-label>
            <input matInput [(ngModel)]="question.value" required />
          </mat-form-field> -->
          <angular-editor [(ngModel)]="question.value" [config]="editorConfig" (change)="valueChanged()" id="angular-editor"></angular-editor>
        </div>

        <br *ngIf="question.exerciceBlockType === ExerciceBlockTypes.BREAK" />
      </div>
    </mat-card-content>
  </div>
</mat-card>