<mat-card *ngIf="exercice.name">
  <div class="question-container">
    <mat-card-content [innerText]="exercice?.name" style="text-align: center"> </mat-card-content>
  </div>
</mat-card>

<mat-card>
  <div class="question-container">
    <mat-card-title [innerText]="exercice.question" [ngStyle]="exercice['rtl'] === true && { direction: 'rtl' }">
      <br />
    </mat-card-title>
    <mat-card-content [ngStyle]="exercice['rtl'] === true && { direction: 'rtl' }">
      <ng-container *ngFor="let block of exercice.blocks; let index = index">
        <span style="font-size: 30px" *ngIf="block.exerciceBlockType === ExerciceBlockTypes.TEXT">
          {{ block.value }}
        </span>

        <mat-form-field *ngIf="block.exerciceBlockType === ExerciceBlockTypes.INPUT_TEXT" class="select-list" appearance="fill">
          <mat-label>Sélectionner</mat-label>
          <mat-select [(ngModel)]="block.value" (selectionChange)="valueChanged()">
            <mat-option *ngFor="let opt of block.placeholder.split('/')" [value]="opt.trim()">{{ opt }}</mat-option>
          </mat-select>
        </mat-form-field>
        <br *ngIf="block.exerciceBlockType === ExerciceBlockTypes.BREAK" />
      </ng-container>
    </mat-card-content>
  </div>
</mat-card>
