<mat-card *ngIf="exercice.name">
  <div class="question-container">
    <!-- <mat-card-content [innerText]="exercice?.name" style="text-align: center"> </mat-card-content> -->
    <div [innerHTML]="exercice?.name"></div>
  </div>
</mat-card>

<mat-card>
  <div class="question-container">
    <!-- <mat-card-title [innerText]="exercice.question" [ngStyle]="exercice['rtl'] === true && { direction: 'rtl' }">
      <br />
    </mat-card-title> -->
    <div [innerHTML]="exercice?.question"></div><br>

    <mat-card-content [ngStyle]="exercice['rtl'] === true && { direction: 'rtl' }">
      <div class="field-list" cdkDropList (cdkDropListDropped)="drop($event)">
        <ng-container *ngFor="let block of exercice.blocks; let index = index">
          <div *ngIf="block.exerciceBlockType === ExerciceBlockTypes.INPUT_TEXT" class="field-box" cdkDrag class="field">
            <div class="field-custom-placeholder" *cdkDragPlaceholder></div>
            <div>{{ block.placeholder }}</div>
          </div>
        </ng-container>
      </div>
    </mat-card-content>
  </div>
</mat-card>