<section id="container">
    <h1 mat-dialog-title>Create elements to compare</h1>
    <div mat-dialog-content>
        <form [formGroup]="mathForm">
            <h3>What to display</h3>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-eye"></i></span>
                <input type="text" class="form-control" placeholder="Input numbers: 100,45,0,500" formControlName='arrayOfNumbersOnly'>
            </div>

            <h3>Correct values</h3>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-check-all"></i></span>
                <input type="text" class="form-control" placeholder="Input correct signs: &#60;,&#62;,=" formControlName='arrayOfSignsOnly'>
            </div>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-flat-button class="col mt-2">Back</button>
        <button mat-flat-button color="primary" class="col mt-2" (click)="save()">Save</button>
    </div>
</section>