<div class="mainContainer">
    <mat-progress-bar mode="indeterminate" *ngIf="tokenIsBeingChecked"></mat-progress-bar>
    <form [formGroup]="tokenForm">
        <div mat-dialog-content class="mat-typography">
            <p>{{ 'you-are-about-to-add-a-new-token' | translate }}</p>

            <mat-form-field appearance="outline" class="inputContainer">
                <mat-label>{{ 'token' | translate }}</mat-label>
                <input type="text" formControlName='token' matInput placeholder="{{ 'ex-1665003584' | translate }}" [disabled]="tokenIsValid">
                <mat-error *ngIf="getTokenInput.hasError('required')">
                    {{ 'token-is' | translate }} <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-error *ngIf="showError" class="errorLabel">
                {{ 'invalid-token-0' | translate }}
            </mat-error>
        </div>

        <div mat-dialog-actions align="end" class="stepFooter" *ngIf="!tokenIsValid">
            <button mat-button (click)="close()">{{ 'cancel' | translate }}</button>
            <!-- button to trigger check -->
            <button mat-flat-button color="primary" (click)="verifyToken()" [disabled]="!tokenForm.valid" *ngIf="!tokenIsBeingChecked && !tokenIsValid || this.tokenForm.invalid">
                <mat-icon>check_circle_outline</mat-icon>
                {{ 'verify' | translate }}
            </button>
            <!-- check is in progress loader -->
            <button mat-flat-button [disabled]="true" *ngIf="tokenIsBeingChecked">
                <span>
                    Verifying...
                </span>
            </button>
        </div>
    </form>
</div>