<!-- 
 <h1>ici cour</h1>
 
 <body>
    <div class="panel">
        <div class="result">
  
        </div>
        <div class="question-container" id="question">
            Question goes here.
        </div>
        <div class="option-container">
            <button class="option" onclick="" id="op1" >option1</button>
      
            <button class="option" id="op2" >option2</button>
      
            <button class="option" id="op3">option3</button>
      
            <button class="option" id="op4">option4</button>
        </div>
        <div class="navigation">
            <button class="evaluate">Evaluate</button>
            <button class="next">Next</button>
        </div>
    </div>
    <script src="script.js"></script>
    <h1>Notre agence vous offre l'opportunité de gagner le tour du monde ! </h1>
<form id = "quiz" name = "quiz">
<p class = "questions">Quel est la capitale de l'Island? </p>
<input id = "textbox" type = "text" name = "question1">
<p class = "questions">Quelle est la capitale de l'Autriche? </p>
<input type = "radio" id = "mc" name = "question2" value = "Vienne"> Vienne <br>
<input type = "radio" id = "mc" name = "question2" value = "Alger"> Alger <br>
<p class = "questions">Quelle est la capitale du Côte d'Ivoire?</p>
<input type = "radio" id = "mc" name = "question3" value = "Albany"> Abidjan<br>
<input type = "radio" id = "mc" name = "question3" value = "All Benny's"> Bamako<br>
<input id = "button" type = "button" value = "Validez!" onclick = "check();">
</form>
<div id = "after_submit">
<p id = "number_correct"></p>
<p id = "message"></p>
<img id = "picture">

</div>

</body> -->
<h2>Espace Enseignant</h2>
<p>ajouter vos ressources</p>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>  Cour </h3>
      <p>Some text</p>
      <p>Some text</p>
      <button>ajouter</button>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Evaluation</h3>
      <p>Some text</p>
      <p>Some text</p>
      <button>ajouter</button>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Excercie</h3>
      <p>Some text</p>
      <p>Choisir le type d'excercice</p>
      <button>choisir un type d'excercice</button>

    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Test</h3>
      <p>Some text</p>
      <p>Some text</p>
      <button>ajouter</button>

    </div>
  </div>
</div>
<br>
<!-- <h2>Ajouter cour </h2> -->
<!-- <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field> -->

  <h2>Ajouter Excercice Q/R</h2>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Nom</span>
    </div>
    <input type="text" class="form-control"  aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>
  <form action="/action_page.php">
    <label for="myfile">Select a file:</label>
    <input type="file" id="myfile" name="myfile"><br><br>
  </form>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Question</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Reponse</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>
  <h2>Ajouter QUIZ </h2>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Nom</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>
  <form action="/action_page.php">
    <label for="myfile">Select a file:</label>
    <input type="file" id="myfile" name="myfile"><br><br>
  </form>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Question</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Reponse</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>
  <h2>Ajouter Evaluation </h2>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Nom</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>
  <form action="/action_page.php">
    <label for="myfile">Select a file:</label>
    <input type="file" id="myfile" name="myfile"><br><br>
  </form>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Question</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Reponse</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>