<section id="addNewStudentForm">
    <main>
        <form [formGroup]="studentForm" (ngSubmit)="submitHandler()">
            <header>
                <button mat-flat-button color="accent" class="addNewStudentFormGroupButton showInSmallScreen" *ngIf="groupsListDoneFetching && schoolsListDoneFetching"
                    (click)="addNewFormGroup($event)" [disabled]="disableAddButton">
                    <mat-icon>add</mat-icon>
                    {{ 'new' | translate }}
                </button>

                <div>
                    <p>{{ 'token-capacity' | translate }} <strong>{{tokenCapacity}}</strong></p>
                </div>

                <button id="closeButton" (click)="close()" mat-icon-button color="primary">
                    <mat-icon>close</mat-icon>
                </button>
            </header>

            <div class="formGroupContainer">
                <div formArrayName='studentsArray'>
                    <!-- START OF FORMarray -->
                    <div *ngFor="let tmpFormGroup of getStudentsFormArray.controls; let i = index" [formGroupName]="i">
                        <button mat-mini-fab color="accent" class="deleteGroupTrigger" (click)="deleteFormGroup(i)">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                        <div class="actualGroup">
                            <span class="formSectionHeader personal">{{ 'personal-info' | translate }}</span>

                            <div class="nameGroup">
                                <mat-form-field class="nameInput" appearance="outline">
                                    <mat-label>{{ 'signup.first-name' | translate }}</mat-label>
                                    <input matInput formControlName="firstname">
                                </mat-form-field>

                                <mat-form-field class="lastNameInput" appearance="outline">
                                    <mat-label>{{ 'signup.last-name' | translate }}</mat-label>
                                    <input matInput formControlName="lastname">
                                </mat-form-field>

                                <!-- DOB -->
                                <mat-form-field appearance="outline" class="datePicker">
                                    <mat-label>{{ 'common.birthdate' | translate }}</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="datenaissance" (ngModelChange)="handleDateChange($event)">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <!-- ESTABLISHMENT INFO -->
                            <span class="formSectionHeader school">{{ 'school-info' | translate }}</span>

                            <div class="schoolGroup">
                                <mat-form-field appearance="outline" class="schoolInput">
                                    <mat-label>{{ 'school' | translate }}</mat-label>
                                    <mat-select formControlName="school">
                                        <mat-option *ngFor="let school of schoolsList" [value]="school.id">{{school.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="groupInput">
                                    <mat-label>{{ 'group' | translate }}</mat-label>
                                    <mat-select formControlName="group">
                                        <mat-option *ngFor="let group of groupsList" [value]="group">{{group.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <!-- ACCOUNT DETAILS -->
                            <span class="formSectionHeader personal">{{ 'account-info' | translate }}</span>

                            <div class="accountGroup">
                                <mat-form-field class="schoolInput" appearance="outline">
                                    <mat-label>{{ 'password-auto-generated' | translate }}</mat-label>
                                    <input matInput formControlName="password" readonly>
                                    <mat-hint>{{ 'password-could-be-changed-later' | translate }}</mat-hint>
                                </mat-form-field>

                                <mat-form-field class="tokenInput" appearance="outline">
                                    <mat-label>{{ 'token' | translate }}</mat-label>
                                    <input matInput formControlName="token" readonly>
                                    <mat-hint>{{ 'token-could-be-changed-later' | translate }}</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <button type="submit" mat-raised-button color="primary" [disabled]="studentForm.invalid">
                    <mat-icon>save</mat-icon>
                    {{ 'save' | translate }}
                </button>
            </footer>
        </form>
    </main>
</section>