<mat-card *ngIf="exercice.name">
  <div class="question-container">
    <mat-card-title [innerHTML]="exercice?.name" [ngStyle]="exercice['rtl'] === true && { direction: 'rtl' }" style="font-size: 1rem !important;">
      <br />
    </mat-card-title>
  </div>
</mat-card>

<mat-card class="palette-card">
  <div class="color-element" *ngFor="let color of colors">
    <div class="dot" #color matTooltip="{{ color.label }}" [style.background-color]="color.label" (click)="chooseColor(color.label)"></div>
  </div>
</mat-card>
<mat-card>
  <div class="question-container">
    <div [innerHTML]="exercice?.question"></div>
    <br />
    <mat-card-content class="container flex mt-5 justify-content-center align-items-center" [ngStyle]="exercice['rtl'] === true && { direction: 'rtl' }">
      <div class="display" *ngFor="let element of textToHighlight">
        <app-color-the-text-element *ngIf="element != 'br'" [correctColored]="correctValue" (colorChange)="valueChanged($event)" [element]="element" [color]="ChosenColor">
        </app-color-the-text-element>
        <br *ngIf="element == 'br'" />
      </div>
    </mat-card-content>
  </div>
</mat-card>