<mat-card *ngIf="exercice.name">
    <div class="question-container">
        <mat-card-title [innerHTML]="exercice?.name" [ngStyle]="exercice['rtl'] === true && { direction: 'rtl' }"></mat-card-title>
    </div>
</mat-card>

<mat-card>
    <div class="question-container">
        <div [innerHTML]="exercice?.question"></div><br>
    </div>
    <mat-card-content class="textUnderImagEGrid" [ngStyle]="exercice['rtl'] === true && { direction: 'rtl' }">
        <div class="textUnderImageCard" *ngFor="let block of exercice?.blocks; let index;">
            <header [style.background-image]="'url(' + block.value + ')'"></header>
            <input type="text" placeholder="your answer" (change)="valueChanged($event, index)">
        </div>
    </mat-card-content>
</mat-card>