<mat-card *ngIf="exercice.name">
  <div class="question-container">
    <!-- <mat-card-content [innerText]="exercice?.name" style="text-align: center"> </mat-card-content> -->
    <div [innerHTML]="exercice?.name"></div>
  </div>
</mat-card>

<mat-card class="card-container">
  <div class="question-container">
    <!-- <mat-card-title [innerText]="exercice.question" [ngStyle]="exercice['rtl'] === true && { direction: 'rtl' }">
      <br />
    </mat-card-title> -->
    <div [innerHTML]="exercice?.question"></div><br>
  </div>
  <mat-card-content [ngStyle]="exercice['rtl'] === true && { direction: 'rtl' }">
    <div cdkDropListGroup>
      <div class="example-container">
        <div class="example-list">
          <div class="puzzle-shape" *ngFor="let item of correspandance_left">
            <!-- <img src="{{ '../../../../assets/images/' + item.placeholder + '.jpg' }}" alt="" /> -->
            <div class="text">
              {{ item.label }}
            </div>
            <span [id]="" #endingElement class="female-piece"></span>
          </div>
        </div>
      </div>

      <div class="example-container">
        <div cdkDropList cdkDropListLockAxis="y" [cdkDropListData]="correspandance_right" class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="puzzle-shape" *ngFor="let item of correspandance_right" cdkDrag>
            <div class="text">
              {{ item.label }}
            </div>

            <span #startingElement class="male-piece"> </span>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>