<div id="tokenDetailsDialog">
    <h2 mat-dialog-title>{{ 'token-details' | translate }}</h2>

    <mat-dialog-content class="mat-typography">
        <table>
            <tr>
                <th>{{ 'token' | translate }}</th>
                <td><span id="truncatedToken">{{tokenDetails.value}}</span></td>
            </tr>
            <tr>
                <th>{{ 'created-at-0' | translate }}</th>
                <td>{{tokenDetails.creationDate}}</td>
            </tr>
            <tr>
                <th>{{ 'expires-on-0' | translate }}</th>
                <td>{{tokenDetails.expirationDate}}</td>
            </tr>
            <tr>
                <th>{{ 'users-capacity-0' | translate }}</th>
                <td>{{tokenDetails.numberUsers}}</td>
            </tr>
            <tr>
                <th>{{ 'attached-to-account-s-0' | translate }}</th>
                <td>{{tokenDetails.usedUsersNumber}}</td>
            </tr>
        </table>
        <!-- RESPONSIVE LAYOUT -->
        <ul>
            <li>
                {{ 'token' | translate }}
                <span>{{tokenDetails.value}}</span>
            </li>
            <li>
                {{ 'created-at-0' | translate }}
                <span>{{tokenDetails.creationDate}}</span>
            </li>
            <li>
                {{ 'expires-on-0' | translate }}
                <span>{{tokenDetails.expirationDate}}</span>
            </li>
            <li>
                {{ 'users-capacity-0' | translate }}
                <span>{{tokenDetails.numberUsers}}</span>
            </li>
            <li>
                {{ 'attached-to-account-s-0' | translate }}
                <span>{{tokenDetails.usedUsersNumber}}</span>
            </li>
        </ul>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>{{ 'common.close' | translate }}</button>
    </mat-dialog-actions>
</div>