
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="ordre">
    <th mat-header-cell *matHeaderCellDef>Ordre</th>

    <td mat-cell *matCellDef="let element">{{ element?.ex_id }}</td>
  </ng-container>
  <ng-container matColumnDef="exercice">
    <th mat-header-cell *matHeaderCellDef>Exercice</th>
    <td mat-cell *matCellDef="let element">{{ element?.name }}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element">{{ element?.type }}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button class="icon-button" matTooltip="Show Exercice" (click)="openPreview(element)" matTooltipPosition="left">
        <span class="material-icons"> assignment </span>
      </button>
      <button class="icon-button" matTooltip="Validate" (click)="validateExercice(element)" matTooltipPosition="left" aria-label="Add New Row">
        <span class="material-icons"> check </span>
      </button>
      <button class="icon-button" matTooltip="Reject" (click)="reject(element)" matTooltipPosition="left" aria-label="Add New Row">
        <span class="material-icons"> close </span>
      </button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
