<section id="generalPurposeTableInitializer">

    <header>
        <h1>Table Details</h1>
    </header>

    <mat-stepper #stepper linear>
        <mat-step [stepControl]="tableForm">
            <ng-template matStepLabel>Equation Parameters</ng-template>
            <main>
                <form [formGroup]="tableForm" (ngSubmit)="buildTable()">
                    <!-- ROWS & COLUMNS -->
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field class="example-full-width" appearance='outline'>
                                <mat-label>Number of rows ⬅️ ➡️</mat-label>
                                <input type="number" matInput formControlName="numRows" placeholder="Ex. 2" min="1">
                                <mat-hint>Type in the number of rows for this equation</mat-hint>
                                <mat-error *ngIf="tableForm.get('numRows').hasError('required')">Number of rows is <strong>required</strong></mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col">
                            <mat-form-field class="example-full-width" appearance='outline'>
                                <mat-label>Number of columns ⬇️ ⬆️</mat-label>
                                <input type="number" matInput formControlName="numColumns" placeholder="Ex. 2" min="1">
                                <mat-hint>Type in the number of columns for this equation</mat-hint>
                                <mat-error *ngIf="tableForm.get('numColumns').hasError('required')">Number of columns is <strong>required</strong></mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col mt-1">
                        <button mat-flat-button color="primary" matStepperNext>Build Table</button>
                    </div>

                </form>
            </main>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Equation Builder</ng-template>
            <ines-general-tables-teacher-student></ines-general-tables-teacher-student>
        </mat-step>
    </mat-stepper>

</section>