.example-card {
  max-width: 700px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 2%;
  padding-bottom: 0;
}

.example-header-image {
  background-size: cover;
}
.example-form {
  min-width: 500px;

  width: 100%;
}

.example-full-width {
  width: 100%;
}

.comment {
  padding: 1%;
  padding-left: 2%;
}

.span-likes {
  padding-left: 1%;
}

.action {
  border-top: 1px solid #c9c0c0;
  border-bottom: 1px solid #c9c0c0;
  padding: 1%;
  margin: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.action-button-content {
  padding: 10%;
}
.btn {
  width: 90%;
}

.description {
  padding-left: 7%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.centered-button {
  display: flex;
  padding: 2%;
  align-items: center;
  align-content: center;
  justify-content: center;
}
