<mat-card *ngIf="exercice.name">
    <div class="question-container">
        <mat-card-title [innerHTML]="exercice?.name" [ngStyle]="exercice['rtl'] === true && { direction: 'rtl' }"></mat-card-title>
    </div>
</mat-card>

<mat-card>
    <div class="question-container">
        <div [innerHTML]="exercice?.question"></div><br>
    </div>
    <mat-card-content class="equationGrid" [ngStyle]="exercice['rtl'] === true && { direction: 'rtl' }">
        <!-- TABLE === 1 EUATION -->
        <table class="equationCard" *ngFor="let block of exercice?.blocks; let index;">
            <tr *ngFor="let row of block.blockParams['teacher_matrix'] let indexRow = index">
                <td *ngFor="let field of row; let indexColumn= index" [ngClass]="(indexRow === block.blockParams['matrixLayout'].numRows-1) && 'equationEndLine'">
                    <input type="number" min="0" class="numberInput" [ngClass]="(block.blockParams['student_matrix'][indexRow][indexColumn]?.length>0) && 'studentCanWriteHere'"
                        [readonly]="block.blockParams['teacher_matrix'][indexRow][indexColumn]?.length>0" [value]="block.blockParams['teacher_matrix'][indexRow][indexColumn]"
                        *ngIf="!(indexRow === block.blockParams['matrixLayout'].numRows-1 && indexColumn === 0)">

                    <label class="signsHolder" *ngIf="indexRow === block.blockParams['matrixLayout'].numRows-1 && indexColumn === 0">
                        <span class="operator">{{block.blockParams['matrixLayout'].operator}}</span>
                        <span class="equalSign">=</span>
                        <input type="number" min="0" class="numberInput" [ngClass]="(block.blockParams['student_matrix'][indexRow][indexColumn]?.length>0) && 'studentCanWriteHere'"
                            [readonly]="block.blockParams['teacher_matrix'][indexRow][indexColumn]?.length>0" [value]="block.blockParams['teacher_matrix'][indexRow][indexColumn]">
                    </label>
                </td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>