<mat-card *ngIf="exercice.name">
    <div class="question-container">
        <mat-card-title [innerHTML]="exercice?.name" [ngStyle]="exercice['rtl'] === true && { direction: 'rtl' }"></mat-card-title>
    </div>
</mat-card>

<mat-card>
    <div class="question-container">
        <div [innerHTML]="exercice?.question"></div><br>
    </div>
    <mat-card-content class="equationGrid" [ngStyle]="exercice['rtl'] === true && { direction: 'rtl' }">
        <!-- TABLE === 1 EUATION -->
        <table class="equationCard" *ngFor="let block of exercice?.blocks; let index;">
            <tr *ngFor="let row of MATRIX let indexRow = index">
                <td *ngFor="let field of row; let indexColumn= index" [ngClass]="indexRow === row.length && 'equationEndLine'">
                    <input 
                        type="number" 
                        min="0" 
                        class="numberInput" 
                        [ngClass]="(MIRROR_MATRIX_STUDENT[indexRow][indexColumn]?.length>0) && 'studentCanWriteHere'"
                        [readonly]="MATRIX[indexRow][indexColumn]?.length>0" 
                        [value]="MATRIX[indexRow][indexColumn]"
                        *ngIf="!((indexRow === (row.length)) && (indexColumn === 0))"
                    >

                    <label
                        class="signsHolder"
                        *ngIf="(indexRow===(row.length)) && (indexColumn === 0)"
                    >
                        <span class="operator">{{CURRENT_OPERATOR}}</span>
                        <span class="equalSign">=</span>
                        <input 
                            type="number" 
                            min="0" 
                            class="numberInput" 
                            [ngClass]="(MIRROR_MATRIX_STUDENT[indexRow][indexColumn]?.length>0) && 'studentCanWriteHere'"
                            [readonly]="MATRIX[indexRow][indexColumn]?.length>0" 
                            [value]="MATRIX[indexRow][indexColumn]"
                        >
                    </label>
                </td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>