<div class="add-chapter">
  <button mat-raised-button (click)="openDialog()" color="primary">
    <span class="material-icons">add</span>
  </button>
</div>
<section *ngFor="let dataSource of matTableSources">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="Classe">
      <mat-header-cell *matHeaderCellDef> {{ 'classe' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element?.group.name }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Matiere">
      <mat-header-cell *matHeaderCellDef> {{ 'Matiere' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element?.parent?.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Trimestre">
      <mat-header-cell *matHeaderCellDef> {{ 'trimestre' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element?.trimestre }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Chapitre">
      <mat-header-cell *matHeaderCellDef> {{ 'chapitre' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element?.name }} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Action">
      <mat-header-cell *matHeaderCellDef> {{ 'action' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        <button class="icon-button" matTooltip="Add Serie" (click)="openSerieDialog(element)" matTooltipPosition="left">
          <span class="material-icons"> assignment </span>
        </button>
        <button class="icon-button" matTooltip="Edit" (click)="openDialog(element, i)" matTooltipPosition="left">
          <span class="material-icons"> edit </span>
        </button>
        <button class="icon-button" matTooltip="Delete" (click)="deleteChapter(element.chapter_id)" matTooltipPosition="left">
          <span class="material-icons"> delete </span>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</section>