<section id="showEditStudent">
  <div id="leftSection">
    <img src="../../../../../../assets/img/undraw_professional_card_otb4.svg" />
  </div>
  <div id="rightSection">
    <form [formGroup]="studentForm">
      <header id="dialogStikyHeader">
        <div>
          <h4>{{ dialogAction }} student</h4>
          <button mat-flat-button color="primary" type="submit" (click)="updateStudentData()">
            <mat-icon>update</mat-icon>
            Update
          </button>
        </div>
        <button mat-icon-button (click)="close()">
          <mat-icon>close</mat-icon>
        </button>
      </header>

      <span class="formSectionHeader personal">Personal Info</span>

      <div class="nameGroup">
        <mat-form-field class="nameInput" appearance="outline">
          <mat-label>First name</mat-label>
          <input matInput formControlName="nameControl" />
        </mat-form-field>

        <mat-form-field class="lastNameInput" appearance="outline">
          <mat-label>Last name</mat-label>
          <input matInput formControlName="lastNameControl" />
        </mat-form-field>

        <!-- DOB -->
        <mat-form-field appearance="outline" class="datePicker">
          <mat-label>Date of birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dobControl" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- ESTABLISHMENT INFO -->
      <span class="formSectionHeader school">School Info</span>

      <div class="schoolGroup">
        <!-- <mat-form-field appearance="outline" class="schoolInput">
          <mat-label>School</mat-label>
          <mat-select formControlName="schoolControl">
            <mat-option *ngFor="let school of schoolsList; let i = index" [value]="school.id">
              {{ school.name }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

        <mat-form-field appearance="outline" class="groupInput">
          <mat-label>Group</mat-label>
          <mat-select formControlName="groupControl">
            <mat-option *ngFor="let group of groupsList; let i = index" [value]="group.id">
              {{ group.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- ACCOUNT DETAILS -->
      <span class="formSectionHeader personal">Account Info</span>

      <div class="accountGroup">
        <mat-form-field class="schoolInput" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="passwordControl" />
        </mat-form-field>

        <mat-form-field class="tokenInput" appearance="outline">
          <mat-label>Token</mat-label>
          <input matInput formControlName="tokenControl" />
        </mat-form-field>
      </div>

      <!-- END OF FORM -->
    </form>

    <!-- TOKEN STATUS -->
    <!-- <footer class="dialogFooter tokenIsValid">
            Token attached to this account is <strong>TOKEN_STATE_HERE</strong>
        </footer> -->
  </div>
</section>
