<mat-card *ngIf="exercice.name">
  <div class="question-container">
    <mat-card-title
      [innerHTML]="exercice?.name"
      [ngStyle]="exercice['rtl'] === true && { direction: 'rtl' }"
      style="font-size: 1rem !important"></mat-card-title>
  </div>
</mat-card>

<mat-card>
  <div class="question-container">
    <div [innerHTML]="exercice?.question" [ngStyle]="exercice['rtl'] === true && { direction: 'rtl' }"></div>
    <br />
  </div>
  <mat-card-content [ngStyle]="exercice['rtl'] === true && { direction: 'rtl' }">
    <section [style.cursor]="cursor" *ngFor="let block of exercice.blocks; let i = index">
      <h4>Shoose color</h4>
      <!-- Colors -->
      <div class="btn-group d-flex gap" role="group">
        <div *ngFor="let param of [{ color: '#000000' }].concat(block.blockParams)">
          <button
            type="button"
            class="btn color-btn btn-outline-primary"
            (click)="selectColor(param.color)"
            [ngStyle]="{ background: param.color }"></button>
        </div>
      </div>
      <!-- Teacher sentence  -->
      <div class="d-flex gap">
        <div *ngFor="let param of block.blockParams; let j = index" (click)="colorText(i, j)" [ngStyle]="{ color: param.crrentColor }">
          {{ param.body + ' ' }}
        </div>
      </div>
    </section>
  </mat-card-content>
</mat-card>
