.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    
}
.table{
    background-color: rgb(255, 255, 255); 
    border-radius: 1em ; 
}
:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
 
  