<mat-card *ngIf="exercice.name">
    <div class="question-container">
        <mat-card-title [innerHTML]="exercice?.name" [ngStyle]="exercice['rtl'] === true && { direction: 'rtl' }"></mat-card-title>
    </div>
</mat-card>

<mat-card>
    <div class="question-container">
        <div [innerHTML]="exercice?.question"></div><br>
    </div>
    <mat-card-content class="equationGrid" [ngStyle]="exercice['rtl'] === true && { direction: 'rtl' }">
        <section *ngFor="let block of exercice.blocks">

            <!-- sentences -->
            <div class="SENTENCES" *ngIf="block.blockParams['sentences']?.sentencesArray.length>0">
                <input type="text" *ngFor="let SENTENCE of block.blockParams['sentences'].sentencesArray; let index=index" (click)="toggleStroke($event, index)" readonly
                    [value]="SENTENCE.sentenceBody" class="stroked" />
            </div>

            <!-- sentences with words -->
            <div class="SENTENCES" *ngIf="block.blockParams['sentencesWithWords']?.sentencesArray.length>0">
                <p *ngFor="let SENTENCE of block.blockParams['sentencesWithWords'].sentencesArray; let index=index" style="display: flex; align-items: center;">
                    {{SENTENCE.sentenceBody}}
                    &nbsp;
                    <span *ngIf="SENTENCE.wordsArray.length>0" class="wordsCollectionFlex">
                        <strong>(&nbsp;</strong>
                        <span *ngFor="let word of SENTENCE.wordsArray; let i=index">
                            <input type="text" [value]="word.wordBody" (click)="toggleStrokeForWords($event, index, i)" readonly style="display: inline-block; max-width: 100px !important;" />
                            <strong *ngIf="!(i=== SENTENCE.wordsArray.length-1)">,&nbsp;</strong>
                        </span>
                        <strong>&nbsp;)</strong>
                    </span>
                </p>
            </div>


            <!-- shapes and images -->
            <div class="IMAGES-GRID" *ngIf="block.blockParams['shapesAndImages']?.sentencesArray.length>0">
                <img *ngFor="let SENTENCE of block.blockParams['shapesAndImages'].sentencesArray; let index=index" [src]="SENTENCE.sentenceBody" class="stroked"
                    (click)="toggleStrokeForShapesAndImages($event, index)">
            </div>

        </section>
    </mat-card-content>
</mat-card>