.SENTENCES {
    width: 100%;
    background-color: #F7F7F7;
    margin: 1rem 0;
    padding: 1rem;
    border-bottom: 1px solid #565655;

    .strokedSentence {
        text-decoration: line-through;
        color: #721c24;
        background-color: #f8d7da;
    }
}

.IMAGES-GRID {
    width: 100%;
    padding: 1rem;
    border: 2px solid #000;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    img {
        cursor: crosshair;
        width: auto;
        max-width: 200px;

        &:hover {
            filter: grayscale(100%);
        }
    }

    .strokedSentence {
        filter: opacity(20%);
        border: 3px solid #721c24;
    }
}

.SENTENCESWITHWORDS {
    width: 100%;
    background-color: red;

    .strokedSentence {
        text-decoration: line-through;
        color: #721c24;
        background-color: #f8d7da;
    }

    input[type="text"] {
        display: block;
        outline: none;
        border: none;
        background: transparent;
        cursor: crosshair;
        height: auto;
        word-wrap: break-word;
        word-break: break-all;

        &:hover {
            color: #383d41;
            background-color: #e2e3e5;
        }
    }
}