<mat-card>
    <mat-card-content>
        <!-- ONLY ADD ONE GROUP PER BLOCK INSTEAD OF MULTIPLE ONES -->
        <form [formGroup]="BIG_GROUP_FORM">
            <div class="card mt-1">
                <div class="card-body positoin-relative">
                    <!-- CONTROLS -->
                    <div class="mt-1 mb-1 p-1 d-flex flex-row justify-content-start align-items-center">
                        <button type="button" class="btn btn-outline-primary me-1 btn-sm" (click)="addNewSentenceGroupToArray()">Add Sentence</button>
                        <div class="input-group" style="width: 200px">
                            <input type="number" class="form-control" #wordsCount min="2">
                            <button type="button" class="btn btn-outline-warning btn-sm" (click)="addNewWordGroupToArray()">Add Words group</button>
                        </div>
                    </div>

                    <!-- BODY -->

                    <div formArrayName="SENTENCE_GROUP_ARRAY">
                        <!-- SENTENCES -->
                        <ng-container *ngFor="let FGROUP of GET_SENTENCES_FROM_ARRAY.controls; let i = index;">
                            <div class="input-group mt-1 mb-1" [formGroupName]="i">
                                <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteCurrentSentenceFromGroup(i)">&times;</button>
                                <input type="text" formControlName="SENTENCE_CONTROL" class="form-control border border-primary">
                            </div>
                        </ng-container>
                    </div>

                    <div formArrayName="WORDS_GROUP_ARRAY">
                        <!-- WORDS -->
                        <ng-container *ngFor="let FGROUP of GET_WORDS_FROM_ARRAY.controls; let i = index;">
                            <div class="input-group mt-1 mb-1" [formGroupName]="i">
                                <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteCurrentWordFromGroup(i)">&times;</button>
                                <input type="text" formControlName="WORD_CONTROL" class="form-control border border-warning">
                            </div>
                        </ng-container>
                    </div>




                    <!-- END OF ONE GROUP -->
                </div>
            </div>
        </form>
        <!-- END OF MAT CARD -->
    </mat-card-content>

    <div mat-dialog-actions [align]="'end'">
        <button mat-raised-button color="primary" (click)="saveSentences()">Save</button>
    </div>
</mat-card>