#selectorContainer {
    box-sizing: border-box;
}

.radioOptins {
    box-sizing: border-box;
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));

    input[type="radio"] {
        display: none;

        &:checked~.contentContainer {
            border: 2px solid #605975;
        }
    }

    .contentContainer {
        width: 100%;
        height: auto;
        border: 2px solid #fff;
        cursor: pointer;
        box-sizing: border-box;

        img {
            width: 100%;
        }

        &:hover {
            border: 2px solid #48318e;
        }
    }
}