<div mat-dialog-content>

    <div class="d-flex justify-content-center" >
    
        <div class="mx-5 mt-5" >
    <form>
      <h3>Modifier Chapitre</h3>
    
      <form [formGroup]="regiForm" >  
        <table class="x">  
          <tr>  
            <td>    
              <mat-form-field >  
              <mat-select  formControlName="groupe" placeholder="groupe">  
                <div >
                    <mat-option ></mat-option> 
                </div>       
              </mat-select>  
              <mat-error>  
                  <span *ngIf="!regiForm.get('groupe').valid && regiForm.get('groupe').touched">Please select any item !!!</span>  
              </mat-error>  
             </mat-form-field>  
           </td>
          </tr> 
          <tr>         
            <td>  
               <mat-form-field class="demo-full-width">  
                   <input formControlName="NomChap" matInput placeholder="Nom Chapitre">  
               </mat-form-field>  
               <mat-error>  
                   <span *ngIf="!regiForm.get('NomChap').valid && regiForm.get('NomChap').touched">s'il vous entre le nom du chapitre !!!</span>  
               </mat-error>  
           </td>   
         </tr>
            <tr>  
              <td>    
                <mat-form-field>  
                <mat-select formControlName="Module" placeholder="Pre-Requis">  
                    <mat-option value="Langue">Langue</mat-option>  
                    <mat-option value="Arabe">Arabe</mat-option>  
                    <mat-option value="Science">Science</mat-option>  
                </mat-select>  
                <mat-error>  
                    <span *ngIf="!regiForm.get('Module').valid && regiForm.get('Module').touched">Please select any item !!!</span>  
                </mat-error>  
               </mat-form-field>  
             </td>
            </tr>        
            <tr>
              <div>
                <label >Rappel du cours</label><br/>
                <input  type="file">
                <mat-error ></mat-error>   
              </div>
            </tr>
              
            <tr>
              <div class="form-group" >
                <label >Carte_Conceptuelle</label><br/>
                <input  type="file" >
                <mat-error ></mat-error>
              </div>
            </tr> 
            <!-- /////////////////////////////////////////////////////////////// -->
            <!-- <tr>  
              <td>    
                <mat-form-field>  
                <mat-select formControlName="Module" placeholder="Serie d'Excercice">  
                    <mat-option value="Langue">Langue</mat-option>  
                    <mat-option value="Arabe">Arabe</mat-option>  
                    <mat-option value="Science">Science</mat-option>  
                </mat-select>  
                <mat-error>  
                    <span *ngIf="!regiForm.get('Module').valid && regiForm.get('Module').touched">Please select any item !!!</span>  
                </mat-error>  
               </mat-form-field>  
             </td>
            </tr>   -->
            <!-- <tr>  
              <td>    
                <mat-form-field>  
                <mat-select formControlName="Module" placeholder="Excercice">  
                    <mat-option value="Langue">Langue</mat-option>  
                    <mat-option value="Arabe">Arabe</mat-option>  
                    <mat-option value="Science">Science</mat-option>  
                </mat-select>  
                <mat-error>  
                    <span *ngIf="!regiForm.get('Module').valid && regiForm.get('Module').touched">Please select any item !!!</span>  
                </mat-error>  
               </mat-form-field>  
             </td>
            </tr>   -->
            <!-- ////////////////////////////////////////////////////////////////// -->
            <tr>  
                <td colspan="2" class="content-center">  
                    <button type="submit"   class="btn btn-primary">Modifer</button>  
                </td>  
            </tr>    
        </table>  
    </form>  
      
    </form>
    
        </div>
        <div>
          <!-- <h3 style="margin-top: 50px;">Serie d'Excercice</h3> -->
        <div >   
            <mat-form-field appearance="standard">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
              </mat-form-field>
              
              <div class="mat-elevation-z8">
                    
                <table mat-table [dataSource]="dataSource" matSort>
              
                  <!-- ID Column -->
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ORDER </th>
                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                  </ng-container>
              
                  <!-- Progress Column -->
                  <ng-container matColumnDef="progress">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Exercice </th>
                    <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                  </ng-container>
              
                  <!-- Fruit Column -->
                  <ng-container matColumnDef="fruit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> <button mat-icon-button mat-raised-button  style="color: white;" class="btn default"  >
                      <span class="material-icons">add</span>
                      </button></th>
                    <td mat-cell *matCellDef="let row"  class="d-flex justify-content">
                      <button mat-icon-button style="color: white;" class="btn default"  >
                          <span class="material-icons">preview</span>
                      </button>
                      <button  mat-icon-button style="color: white;"   class="btn default" >
                          <mat-icon >edit</mat-icon>  
                      </button>
                    </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
                  <!-- Row shown when there is no matching data. -->
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                  </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
              </div> 
              <button mat-raised-button style="margin-left:400px" color="primary">Ajouter</button>
       
        </div>
      </div>
    </div>
    </div>
    