<button mat-icon-button class="right close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<h3>Generate Coupon</h3>

<div class="container">
  <form [formGroup]="couponForm" class="form-style">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Coupon type</mat-label>
      <mat-select formControlName="couponType" placeholder="{{ 'choose-block-type' | translate }}">
        <mat-option *ngFor="let type of COUPON_TYPE | keyvalue" [value]="type.key">{{ type.value | translate }}</mat-option>
      </mat-select>
      <mat-error *ngIf="!couponForm.get('couponType').valid && couponForm.get('couponType').touched"> Please select a type </mat-error>
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline">
      <mat-label>Expiration date</mat-label>
      <input matInput formControlName="expirationDate" [matDatepicker]="picker" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Number of coupons</mat-label>
      <input formControlName="numberOfRows" #numberOfRows matInput type="number" maxlength="4" placeholder="Ex. 4" value="1" />
      <mat-hint align="end">{{ numberOfRows.value.length }} / 4</mat-hint>
      <mat-error *ngIf="CouponFormControls['numberOfRows']?.errors?.['required']"> please select the number of coupons you want to add </mat-error>
    </mat-form-field>
  </form>
  <div class="button-container">
    <button type="submit" (click)="onSubmit()" #generate mat-raised-button color="primary">Generate</button>
  </div>
</div>
