.button-container {
  display: flex;
  justify-content: center;
}

h3 {
  text-align: center;
  margin-bottom: 3%;
}
form mat-form-field {
  width: 100%;
  margin-bottom: 3px;
}
.icon-button {
  border: none;
  background-color: inherit;
}
.close-button {
  float: right;
  top: -24px;
  right: -24px;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}
#generate {
  padding: 500px;
}
