<div class="container row">
  <form [formGroup]="blockForm">
    <mat-form-field appearance="outline">
      <mat-select
        (selectionChange)="checkFieldsToShow()"
        formControlName="exerciceBlockType"
        placeholder="{{ 'choose-block-type' | translate }}">
        <mat-option *ngFor="let type of blockTypes" [value]="type">{{ type }}</mat-option>
      </mat-select>
      <mat-error *ngIf="!blockForm.get('exerciceBlockType').valid && blockForm.get('exerciceBlockType').touched">
        {{ 'please-select-any-item' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="fieldData.showLabel" appearance="outline">
      <input formControlName="label" matInput [placeholder]="fieldData.labelHolder" />
    </mat-form-field>

    <mat-form-field *ngIf="fieldData.showPlaceholder" appearance="outline">
      <input formControlName="placeholder" matInput [placeholder]="fieldData.placeHolder" />
    </mat-form-field>

    <mat-form-field *ngIf="fieldData.showCorrectValue" appearance="outline">
      <input formControlName="correctValue" matInput [placeholder]="fieldData.correctValueHolder" />
    </mat-form-field>
    <mat-form-field *ngIf="fieldData.showValue" appearance="outline">
      <input formControlName="value" matInput [placeholder]="fieldData.valueHolder" />
    </mat-form-field>

    <mat-form-field *ngIf="fieldData.showOrder" appearance="outline">
      <input formControlName="blockOrder" matInput placeholder="{{ 'order' | translate }}" />
    </mat-form-field>
    <div class="add-button">
      <button type="submit" class="post-button" (click)="saveBlock()" mat-raised-button>
        {{ 'ajouter-block' | translate }}
      </button>
    </div>
  </form>
</div>
