:host ::ng-deep mat-dialog-container cdk-dialog-container ng-tns-c334-28 ng-trigger ng-trigger-dialogContainer ng-star-inserted {
  width: 700px;
}

.container {
  background-color: white;
  padding-top: 3%;
}

form mat-form-field {
  width: 100%;
  margin-bottom: 3px;
}

.trigger-button {
  display: flex;
  justify-content: center;
}

.add-button {
  display: flex;
  justify-content: center;
  margin: 1%;
}

.post-button {
  padding: 0.6em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.post-button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.post-button:active {
  transform: translateY(-1px);
}

.input-sizer {

  input {
    resize: horizontal;
    width: 200px;
  }

  input:active {
    width: auto;
  }

  input:focus {
    min-width: 200px;
  }

  .custom-input:active {
    width: auto;
    resize: horizontal;
  }

  display: inline-grid;
  vertical-align: top;
  align-items: center;
  position: relative;
  border: solid 1px var(--cms-grey);
  margin: 5px;
  border-radius: 5px;
  min-width: 100px;
  background: white;
  font-family: 'OpenSansRegular';

  &.stacked {
    padding: .5em;
    align-items: stretch;

    &::after,
    input,
    textarea {
      grid-area: 2 / 1;
    }
  }

  &::after,
  input,
  textarea {
    width: auto;
    font: inherit;
    padding: 0.25em;
    margin: 0;
    resize: none;
    background: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    min-width: 200px;
  }

  &::after {
    content: attr(data-value) ' ';
    visibility: hidden;
    white-space: pre-wrap;
  }

  &:focus-within {


    textarea:focus,
    input:focus {
      outline: none;
    }
  }
}
